[2015-08-09 07:52] foobar13373 opened #1 "“You have requested package `foo', but the package provides `foo'” warning"
I'll just let TeX.Stackexchange speak her: https://tex.stackexchange.com/questions/260446

[2015-08-11 04:28] xdanaux commented on #1
Can you please confirm this solved the issue? I just tried the proposed fix, and the warning is still there for me :(

[2015-08-16 04:31] junpengxxx opened #2 "Classic Style Icons Not Match"
Hi,

When I use classic style, the generated pdf doesn't match with the given example. The reason is that `marvosym` is used in moderncvstyleclassic.sty, not `awesome`. This leads a tricky result after I compiled template.

<img width="181" alt="screen shot 2015-08-15 at 9 25 03 pm" src="https://cloud.githubusercontent.com/assets/5428126/9291981/84a9005e-4394-11e5-88ce-71895625885a.png">

[2015-08-17 20:10] tobiashochguertel opened #3 "\cventry with month and year possible?"
I describe in my CV my vocational experience with month and years, is this possible with moderncv?

![2015-08-17 22_09_25-greenshot](https://cloud.githubusercontent.com/assets/3332669/9314988/a86b4206-452c-11e5-9469-68b235c602f0.png)

[2015-08-19 16:04] Sethur opened #4 "\makecvtitlenamewidth as used in "examples\template.tex" is undefined"
Hi,

\setlength{\makecvtitlenamewidth}{10cm}

as used in your "template.tex" example will not compile (if uncommented), supposedly because this length seems to be called makecvheadnamewidth now.

[2015-08-19 16:33] Sethur opened #5 "Since the 2.0 update, I get orphans where I had none before"
Hi,

since the update of moderncv to 2.0, I get orphans (i.e. orphaned paragraphs at the end of one page) in my CV that worked fine with 1.x.

At the end first page, there is some code saying:

\section{\bfseries Experience}
\subsection{Working}

This was previously placed on the next page, now its on the first page, but all the \cventries that follow in this subsection are on the next page.

This

[2015-08-19 16:42] Sethur commented on #5
PS: Further experimenting revealed that even setting \clubpenalty and \widowpenalty to 100000 did not  get rid of the issue. All my CV versions are now affected and I have to manually insert \pagebreak as a workaround.

[2015-08-30 22:14] Safari77 opened #6 "\homepage does not work with https links"
\homepage{https://foo}
generates link to https//foo

\extrainfo{\url{https://foo}}
works but then I miss the mouse logo

\homepage{\url{https://foo}} results into stack overflow

[2015-08-31 06:54] xdanaux commented on #1
Fixed with commit 5debb37c1f2776839b0ec5d525cd66feac5aa571.

[2015-08-31 06:54] #1 closed, assigned to xdanaux

[2015-08-31 06:58] xdanaux commented on #3
Sure, you can use anything you like (years, months, or more generally, any text) as there is no input validation performed.

[2015-08-31 06:58] #3 closed, assigned to nobody

[2015-08-31 07:05] xdanaux commented on #2
`marvosym` icons are meant to be used with the `classic` style variant by default, and that is also what the provided template shows. If you want to use the `awesome` icon set, just specify:

[code]

in your preamble.

[2015-08-31 07:05] #2 closed, assigned to nobody

[2015-08-31 10:01] tobiashochguertel commented on #3
I've got it already. Thanks for answering. Was not the best question from me. ;)

[2015-09-01 08:16] #4 closed, assigned to xdanaux

[2015-09-01 08:28] Sethur commented on #5
Any update on this issue?

[2015-09-02 03:19] xdanaux commented on #5
Thanks for the bug report Sethur. I haven't had time to investigate yet, but I will.

[2015-09-03 07:56] u-fischer opened #7 "Warning about wrong package names"
moderncv loads styles with the help of \romanumeral. While `\romannumeral 1` outputs an `i` and so the file is found, the catcode of the i is different,  and so one get tons of warnings regarding the package names:

[code]

Suggested fix (if you want to use letters instead of normal numbers in the file names):
1. Remove all the \expandafters in the definition

[code]

There are unnecessary (and wr

[2015-09-29 21:09] nicolasbock opened #8 "Prevent pagebreak around \cventry"
Is there a way to turn off pagebreak around \cventry so that the entry is broken across multiple pages?

Thanks!

[2015-09-30 20:37] ghost opened #9 "cant enter two /extrainfo{}"
I can't add two /extrainfo{} in the preamble. Is it normal? Or is there a way to do it that I don't know about?

[2015-09-30 20:45] ghost opened #10 "problem with fancy and texlive in fedora 22"
I don't know if i must talk about that issue here or to the fedora package's owner of texlive-moderncv but when I try to use \moderncvtheme{fancy} i got that error "File `moderncvstylefancy.sty' not found."

[2015-10-01 21:56] fcladera opened #11 "Please add tag 2.0.0 to commit f50d1cff"
I am writing an Arch Linux AUR PKGBUILD to use your git repository. However, I noticed that you do not include tags in your releases.

May you add a tag to commit f50d1cff?

[code]

[2015-10-11 13:36] sfischer13 opened #12 "Support for Xing"

[2015-11-08 10:19] miheerdew opened #14 "Wrap long descriptions in cventry"
In the banking template, if I have a long description in a cventry (4th argument), then the description flows into the second column (containing City and year). It would be nice if the text wraps it happens.

[2015-11-12 02:25] NilsEnevoldsen opened #15 "Bullets set too low"
Bullets are set too low. This can be observed even in the sample documents, e.g. the bulleted achievements [here](https://github.com/xdanaux/moderncv/blob/master/examples/template_fancy_purple.pdf).

I remember figuring this out years ago, but I don't remember the solution. I seem to recall something about the engine mattering (LuaLaTeX/pdfLatex).

[2015-11-19 12:40] johannesbottcher commented on #7
For the sake of crossreferencing: http://tex.stackexchange.com/questions/260446/what-does-you-have-requested-package-foo-but-the-package-provides-foo-me

[2015-11-21 17:42] mbettan opened #17 "Configure RGB colors inside moderncv ?"
Hello,

Firstly, I would like to thank you for your hard work on this great modencv template. I really use it everyday for my resumé, please do continue :)

I have a simple question for you. How can I change green color.

I have tried to modify  \definecolor{sectionrectanglecolor}{rgb}{0,0.79,0.136} without success :(

I need following color :
CMYK 80 / 0 / 60 / 0
RGB 1 / 169 / 130
HEX #01a982
PMS

[2015-11-24 20:57] migueldvb opened #18 "Compiling problem with bibliography from ADS"
When bibtex bibliographies are included from https://ui.adsabs.harvard.edu/ the articles macros
are not recognized even if the `aas_macros.sty` package (http://doc.adsabs.harvard.edu/abs_doc/aas_macros.sty) is included. This method works with other classes such as `article` and `report`.

[code]

[code]

[2015-11-25 06:12] #17 closed, assigned to nobody

[2015-12-12 21:02] nonkreon opened #20 "Double column references"
Dear Mr. Danaux,

Allow me to start by thanking you for your work on the beautiful moderncv class, I have been using it ever since I wrote my first CV when I was starting college in 2010, not to mention numerous number of people I recommended your project to. Thank you very much for all your efforts.

I have searched for a solution to my problem in the internet and especially stackexchange and cou

[2016-01-14 11:10] aimtsou commented on #15
This is related to modercvicons{awesome} coming from package{fontawesome}

[2016-01-16 23:38] jayree commented on #15
I'm using this as a workaround...

\let\oldfaCircleO=\faCircleO
\renewcommand{\faCircleO}{\protect\raisebox{0.8pt}{\oldfaCircleO}}

[2016-01-17 10:27] aimtsou commented on #15
There is only a workaround unfortunately, since the font is placed too low. I am using almost the same workaround.
\renewcommand\labelitemi{%
  \strut
  \raisebox{1.45pt}{\textcolor {color1}{\tiny \faCircleO }}}

[2016-02-15 19:24] orzechow opened #23 "Too long vspace after \cvitem containing itemize (fancy style)"
Using \cvitem (or one of its derivatives like \cventry) with an itemize list like

[code]

in fancy style, results in a too big vertical space after the entry.

This can be seen in the example [template_fancy_purple.pdf](https://github.com/xdanaux/moderncv/blob/master/examples/template_fancy_purple.pdf) too (the space between the first two jobs is a lot bigger than between the first two degrees).

[2016-02-17 14:31] orzechow opened #24 "Too long vspace between heading and first bibliography entry, as well as after last one (fancy style)"
There is too much space between the bibliography heading and first entry, as well as after the last entry.

This issue seems to be known, as it says `BUG/TODO: remove extra space between heading and first bibliography entry, as well as after last one` in [moderncvbodyv.sty](https://github.com/xdanaux/moderncv/blob/master/moderncvbodyv.sty#L153)

I have no clue how to find where this space comes fr

[2016-02-23 23:33] matthiasballreich opened #25 "Update UserGuide?"
Can you please update the UserGuide. The one are here on Github are outdated and for new users - like me, an new UserGuide would be much helpful. thanks

[2016-02-24 00:01] jayree commented on #25
Have you looked into the updated user guide: [moderncv_userguide.v2](https://github.com/xdanaux/moderncv/blob/master/manual/moderncv_userguide.v2.pdf)

[2016-02-24 02:33] qin-nz commented on #25
Maybe you should put the link <moderncv_userguide.v2> in README.md

[2016-02-24 10:04] matthiasballreich commented on #25
yes i looked into userguideV2. But this one if for version 0.6 of moderncv and now moderncv has version 2.0. So maybe some things have changed or some new better / easier things where added and these should maybe described there.

[2016-03-19 15:24] ZYecho opened #26 "bugs in osx EI capitan"
when i use xelatex complies  templatex-zh.tex， i find it was ok to use classic and oldstyle  but failed when I used banking and casual style. The error was reported as below.

`/usr/local/texlive/2015/texmf-dist/tex/latex/fontawesome/fontawesome.sty:27: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! [\newfontfamily{\FA}{FontAwesome}]`

Is there any bugs? May be something wrong with fontawesome?

[2016-07-14 20:06] tmensink opened #28 "Linux printing colors casual"
I have a weird printing problem with the moderncv casual style:

I want to use color1 for the heading of "firstname lastname", like the following:

`{\color{color1!50}\@firstname} {\color{color1}\@lastname}`

this works fine on display, but when printing from Linux the colors are in grayscale. When printed from Mac OS X (same printer) the colors are as expected. To make it more interesting: when r

[2016-08-02 00:07] chrisma commented on #12
If you haven't used the `\extrainfo` command yet (currently there can only be a single one, it seems) you can use that to build your own Xing link in the header:

[code]

Result:

![selection_018](https://cloud.githubusercontent.com/assets/1652117/17312743/5a5663ce-5855-11e6-9f8c-f17fbfcd22a2.png)

You can also use `\faXing` or any other [Fontawesome symbol](http://fontawesome.io/icons/).
Just mak

[2016-09-25 09:56] aut0 commented on #20
I had the same problem. I solved it by doing it like this:

[code]

Keep the cventry command and delete the double columns

[2016-09-28 11:48] ghost opened #30 "Banking style: Include photo"
How would it be possible to include a photo when using the banking style?

[2016-10-16 17:00] FranklinYu commented on #7
Possible duplicate: #1.

[2016-10-18 00:06] FranklinYu commented on #12
Awesome @chrisma! This trick applies to many other sites, such as

[code]

[2016-11-05 09:43] firegurafiku opened #31 "Why store PDFs in Git?"
Currently the repo size is about 67 MB which is quite heavy for such a small number of revisions. The reason is that PDF files for manual and examples cannot be effectively delta-compressed, so the size increases linearly.

Maybe you should consider removing PDF files from the repo and just write a separate build script which will prepare everything for CTAN submission.

[2016-11-14 02:49] xdanaux commented on #11
Just added back tags for every release.

[2016-11-14 02:49] #11 closed, assigned to xdanaux

[2016-11-14 04:42] xdanaux commented on #26
Looks like an issue with fontawesome. Can you update to the latest release of fontawesome and confirm you still have an issue? If you do, please attach the full compilation log.

[2016-11-14 07:47] xdanaux commented on #28
No idea. Have you checked whether the issue was with TeX / moderncv vs your printing stack? Specifically, could you try the following:
- Try printing from Linux the pdf generated on OS X, and see if colors print fine - if they don't, the issue is likely with your Linux printing stack
- Try printing from OS X the pdf generated on Linux - if colors don't print fine, the issue is likely with TeX / mo

[2016-11-14 07:56] xdanaux commented on #20
The code on TeX.SX does work - maybe you are using an old version of moderncv. Without a detailed log, it is impossible to tell.

Alternatively, use the `cvcolumns` environment as suggested by Lukas - it was designed to enable multi-columns easily. The provided template (`examples/template.tex`) illustrate how to use that environment

[2016-11-14 07:56] #20 closed, assigned to xdanaux

[2016-11-14 07:59] xdanaux commented on #10
I don't have Fedora to test, but this is likely a question of `moderncv` version. The `fancy` style was added in version 2.0.0. If the version you use is prior to that, it won't include the `fancy` style files and throw up the error you saw.

[2016-11-14 07:59] #10 closed, assigned to xdanaux

[2016-11-14 08:01] xdanaux commented on #9
It is normal / expected. If you want to add multiple extra infos, you need to provide it all in a single `\extrainfo` and handle line breaks and/or separators yourself.

[2016-11-14 08:03] xdanaux commented on #7
This should be fixed by commit c91b6ca77c7fe422f8519a433d13db6c3c715384.

[2016-11-14 08:03] #7 closed, assigned to xdanaux

[2016-11-15 09:23] #12 closed, assigned to xdanaux

[2016-12-07 22:39] proft opened #34 "pdfTeX error (font expansion): auto expansion is only possible with scalable fonts."
Hi!

I have

[code]

I opened simple cv (copied from https://www.overleaf.com/7365392wdxwpscvfmrf) in TeXstudio. When I am trying to compile I get

[code]

How I can fix it?

[2016-12-10 14:34] getkey commented on #34
I had this issue as well, running `updmap` [fixed it for me](https://wiki.archlinux.org/index.php/TeX_Live_FAQ#Q:_pdftex_and.2For_dvips_uses_bitmap_fonts_instead_of_type1_postscript_fonts_.28i.e._.22when_I_zoom_my_PDF.2Fps_file.2C_fonts_are_really_pixelated.22_a.k.a._.22everytime_I_run_tex.2C_it_takes_a_long_time_because_it_generates_fonts_with_metafont.22_a.k.a._.22at_the_end_of_my_log_file_gener

[2017-01-17 18:32] mmatrosov commented on #5
The issue is still relevant, see http://tex.stackexchange.com/q/342971/24133

[2017-01-18 05:55] wgrundlingh opened #37 "Incorrect fontawesome icons"
[`template.tex`](http://mirrors.ctan.org/macros/latex/contrib/moderncv/examples/template.tex) under the `casual` style currently shows the following footer:

![image](https://cloud.githubusercontent.com/assets/1776164/22052483/624982bc-dcff-11e6-970d-a2c6f171063a.png)

The fontawesome icons in the footer are obviously wrong.

[2017-01-18 05:59] wgrundlingh opened #38 "Footer conditioning should use \ifdim"
In [`moderncvfooti.sty`](http://mirrors.ctan.org/macros/latex/contrib/moderncv/moderncvfooti.sty), the footer size is progressively checked against `\footwidth`. If it exceeds this length, a line break `\\` is inserted. This check should be performed using `\ifdim`, not `\ifnum`:

[code]

[2017-01-29 12:09] FranklinYu commented on #31
[This page from GitHub](https://help.github.com/articles/removing-sensitive-data-from-a-repository/) may help.

[2017-01-29 12:45] firegurafiku commented on #31
@franklinyu

Applying `filter-branch` will invalidate every commit's hash, hence forcing everyone to re-clone their forks. Simple `git rm` would be enough.

[2017-01-30 01:23] FranklinYu commented on #31
@firegurafiku I thought you would consider 67 MB already too big. Sorry.

[2017-01-30 02:25] firegurafiku commented on #31
@franklinyu

Yes, I think that 67 MB is already too big. But if the project owner reasonably decides not ruin the hashes, I'll be pretty fine with his decision. The key is to stop further repository growing.

[2017-02-11 10:17] arturocandela opened #42 "The command \weblink doesn't work"
I'm using the version "version 2.0.0 (28 Jul 2015)"

In the last version of the pdf avialable (moderncv_userguide.v2.pdf), in the **Additional Commands**  section there is a reference to the command **\weblink** but it doesn't work.

There is also a reference to the command **\httplink**. This command works as expected.

I think this is only a documentation bug.

Regards

[2017-02-16 17:45] ghost commented on #26
Same issue but fixed eventually. It takes me a few hours... QAQ

If you have installed the `fontawesome` package, just install `FontAwesome.otf` to system's `Font Book.app`. The path of this file is `/usr/local/texlive/.../texmf-dist/fonts/opentype/public/fontawesome/FontAwesome.otf`.

If you try to compile with `pdflatex`, it will return 0 error. So this bug may be caused by the way  XeLaTeX find

[2017-03-07 13:02] ilippert opened #43 "Feature request/enhancement: add prefix title to name"
With respect to the CV heading: I wonder whether it would be possible to allow for the author's given name and family name to be prefixed by a title. Example: Dr. John Doe. In this example, Dr. and Doe would have the same color. And as the dot/fullstop "." after "Dr." does not indicate an end of the sentence, the blank should be a normal blank.

Many thanks for considering! And I am sorry if sugge

[2017-03-10 05:13] ghost opened #44 "ccfonts doesn't compile with pdflatex"
I'm using moderncv v2.0.0, and  when I compile with concmath font is fine, without errors, but when I change to ccfonts, it shows some error messages like this:

**! Illegal parameter number in definition of \phonesdetails.
<to be read again>
2
l.30 \makecvtitle
You meant to type ## instead of #, right?
Or maybe a } was forgotten somewhere earlier, and things
are all screwed up? I'm going to assum

[2017-03-14 15:23] wgrundlingh opened #45 "Spurious space in construction of header"
The following post on [TeX.SE](http://tex.stackexchange.com) identifies a spurious space in the construction of the header under the `classic` style:

[moderncv, classic style: how to shift address box to the right?](http://tex.stackexchange.com/q/358410/5764)

Adding the appropriate line-ending `%` would remove this spurious space.

[2017-05-26 21:29] MateusAmin opened #46 "Left Justify Dates"
Left justifying dates improves readability. It allows the eye to come back to a strong line and top down scanning.

I would love to see an option or default! Let me know what you think.

[2017-05-26 21:38] MateusAmin opened #47 "Font Size"
I have the font size set to 12pt in the document class options but the cventry description font size is 10pt. I would like to scale text sizes up so that cventry description font size is 12pt.

\documentclass[12pt, a4paper, nocolor, final]{moderncv} is my header.

[2017-07-22 08:46] KommX commented on #1
When will this fix be available on CTAN?
https://www.ctan.org/pkg/moderncv

[2017-07-24 02:29] nbro opened #48 "Adding Stack Exchange as social"

[2017-07-29 12:38] nbro opened #49 "Add "date of birth" field as an optional field to the personal data"

[2017-09-06 10:34] Nodraak opened #50 "Regression: \newline in cvitemwithcomment not working from v2.0.0"
Hi!

I just reinstalled my whole system yesterday (Debian 9 Stretch) and found a regression when compiling my resume. The bug was introduced in moderncv between these two version:

* moderncv 2015/07/28 v2.0.0: `\newline` not working (also, the text is not bold anymore)
* moderncv 2013/04/29 v1.5.1: ok, `\newline` create a line break as expected

Minimal example:

[code]

-----

**Some more info (

[2017-09-06 10:54] Nodraak commented on #50
I believe here is the diff that introduced the bug (I `grep`'ed for `\cvitemwithcomment` in both version and `diff`'ed the result):

[code]

I conclude that `\usebox` prevent the use of line break. Here is a [random stackoverflow](https://tex.stackexchange.com/questions/202897/newline-is-not-working-with-parbox-and-usebox) link that seems to be relevant.

I think this is the commit that introduced

[2017-09-13 18:19] Blaisorblade commented on #1
On TeXLive 2017, still running into this bug.

[2017-10-22 06:50] Kaligule commented on #49
This would indeed be usefull for european cvs, where the date of birth plays a bigger role.

I don't dare to think of an icon, though.

[2017-11-23 00:45] michaelaye opened #53 "babel-greek and moderncv clash"
See here:

https://tex.stackexchange.com/questions/265938/moderncv-and-babel-greek-cause-missing-endcsname-error

Solution:

Replace  `\roman{<counter>}` with `\romannumeral\c@<counter>`.

[2017-11-30 12:05] anthony-wang commented on #1
Also seeing this issue with the latest moderncv package that is available on CTAN.

[2017-12-09 19:44] rake5k opened #54 "Socials "Xing", "GitLab" and "Skype" not working"
I don't know what's going wrong, but I am not able to get Xing, GitLab and Skype references working. Has anybody an idea how to fix it?

Source (from [examples/template.tex](https://github.com/xdanaux/moderncv/blob/master/examples/template.tex)):
[code]

Output:
![image](https://user-images.githubusercontent.com/13007345/33798898-686dba82-dd21-11e7-9b22-f52dd3979175.png)

**Update:**
Using mactex

[2017-12-09 21:59] rake5k commented on #54
Well... I fixed it by myself already. The issue was that my LaTeX distribution already provided a `moderncv` package, which was loaded instead of the customized one in this repo.

Check out #55 and merge it if you are fine with it!

[2017-12-11 23:36] rbrito opened #56 "Is this project dead?"
I see that the project has a number of pull requests and the last commit is over one year ago. Is this project dead? It would be nice to have people integrate the enhancements that they have created back and have the one-moderncv-to-rule-them-all...

[2017-12-13 12:51] xdanaux commented on #56
It’s not, but I have been a little backlogged with relocation + new job. I plan to make a big swoop over the winter holidays (nice long evenings for coding :)). Apologies for the trouble the delays are causing.

Xavier

Xavier

On 11 Dec 2017, 23:36 +0000, Rogério Brito <notifications@github.com>, wrote:

[2017-12-29 18:41] twsh opened #57 "Academicons"
It would be nice to be able to include an ORCID ID, and perhaps things like arXiv and PhilPapers. There are icons in https://github.com/jpswalsh/academicons and there is a package on CTAN: https://ctan.org/pkg/academicons

If I can get it working would you accept a pull request?

[2018-01-01 14:24] mykter opened #58 "Use \faHome for \addresssymbol"
moderncviconsawesome.sty defines `\addresssymbol` to be none. `\faHome` [looks good](http://fontawesome.io/icon/home/) to me:
`\renewcommand*{\addresssymbol}       {{\faHome}~}`

[2018-01-02 17:00] anthony-wang commented on #57
IMO this would be great on a resume!

[2018-01-04 18:54] twsh commented on #57
I've been thinking about how to do this. My first thought was to make a 'moderncviconsacademic.sty' with a `\RequirePackage{academicons}` and `\renewcommand*{\orcidsocialsymbol}{{\aiOrcid}~}` used with `\moderncvicons{academic}`. I added the required stuff to moderncv.cls and got it all working. But someone might want to use the academicons icons and fontawesome. On the other hand, I don't like th

[2018-02-02 03:15] ZYecho commented on #26
thanks a lot.

[2018-02-02 03:15] #26 closed, assigned to xdanaux

[2018-02-04 08:18] chxp opened #61 "Avoid the space or space line in cv title when a little message was provided."
When I only provide the address, the phone and the mail message, the cv title show a ugly spacing line between the address and the phone/mail line.

Is there any solution? I using the banking theme

![cv](https://user-images.githubusercontent.com/14882692/35775611-f34d37c8-09c6-11e8-816f-fb12bee4b6f3.png)

It seems the version 2012/10/31 v1.2.0 have no the problem

The problem seems happen to the

[2018-02-16 12:32] twsh opened #62 "Undefined \@recipientname or \@recipientaddress gives errors"
Would it make sense to allow `\@recipientname` and/or `\@recipientaddress` to be undefined and print nothing without raising an error?

Looking at moderncvheadstylei.sty, it looks like it could be as simple as:

[code]

And so on for the other head styles.

[2018-02-18 11:25] arnaud-m opened #63 "natbib + multibib : bad bibliography headline level"
Hello,

First, thank you for your awesome package !

The bibliography is at the section level when using both packages instead of the subsection level.

You can modify the template-multibib.tex as follows to reproduce the issue and to see my 'dirty' workaround. I cannot attach a tex file to the issue.

[code]

[2018-02-18 13:18] arnaud-m commented on #63
2015/07/28 v2.0.0 modern curriculum vitae and letter document class

[2018-03-24 18:09] andreall commented on #57
I have tried including an ORCID and Researchgate ID as in https://github.com/xdanaux/moderncv/pull/35 but I haven't been able to make it work using MacTex. My problem is the icons don't show. Could you create a branch with your solution?

Thanks

[2018-03-24 18:28] twsh commented on #57
@andreall Have you installed the [academicons](https://jpswalsh.github.io/academicons/) font? Unlike with fontawesome.sty, you have to do that separately to get academicons.sty to work. That confused me for a while.

[2018-03-24 18:28] twsh commented on #57
This might be a repetition of https://github.com/xdanaux/moderncv/pull/35

[2018-03-24 18:34] andreall commented on #57
@twsh I have. I cloned the repository and installed the .ttf to make sure I have the last version on my FontBook. Should I do something else?
I was using the branch from #35 and that's why I was wondering if you had found a different solution.

[2018-03-26 06:04] anthony-wang commented on #57
@andreall interesting, academicons worked for me, both using my PC (MikTeX) and Mac (MacTeX-2017)
I used the following:
[code]

It's not pretty but it works!

[2018-03-26 09:12] andreall commented on #57
@anthony-wang that did work indeed...Thanks!
I also made it work with the original `\social[orcid]{0000-0000-0000-0000}`. It turns out my doc isn't recognizing the` moderncviconsacademicons.sty` so for the `classic` style it was using the icons from `marvosym`:

`\renewcommand*{\orcidsocialsymbol}{}
\renewcommand*{\researchgatesocialsymbol}{}`

I changed it to:
\usepackage{academicons}
`\renewcomm

[2018-03-30 12:25] mira-t commented on #50
I can confirm I am having the same problem. It also applies to the cventry command.

[2018-04-16 17:50] tvalimaki commented on #49
I've been using `\extrainfo{\textborn~XX.XX.XXXX,~Place}`, but a dedicated field could be added.

`\textborn` is just a star symbol found in the `textcomp` package. Could just as well be a star or asterisk from fontawesome

[2018-04-20 22:06] fuhrmanator opened #67 "Long name seems to break a lot of layouts"
All the examples have short names, emails, urls, etc., and many formats don't work with long-ish names.

For example, a name such as **Johnathan W. Doughmaker** doesn't look good in many of the formats (esp. banking, classic), especially if you use the optional title after. Any way to have the font size dynamically scaled to fit?

The same thing happens if a URL is long-ish (the wrapping looks bad

[2018-04-20 22:08] fuhrmanator opened #68 "Multi-page bib doesn't work"
Some CVs have more than one page of references. When I try this, it just cuts off the bibliography at one page (crashing into the margin). It seems the style doesn't support long (multi-page) bibliographies?

[2018-05-10 15:50] robertmain opened #69 "Missing social links from covering letter"
When using the `\makecvtitle` command, social links are displayed underneath the contact info in the top right. However, when using `\makelettertitle` this is omitted.

### Code to reproduce:

In this example, the social info is displayed:

#### CV
[code]
![image](https://user-images.githubusercontent.com/537684/39879449-d66b58ca-5448-11e8-8f77-87bdecb5fc22.png)

#### Covering Letter

[code]
![ima

[2018-05-31 17:40] FranklinYu commented on #56
Any news?

[2018-06-19 12:13] pprw opened #70 "No page number despite commenting option\nopagenumber"
I keep the following option commented but I still have no page number at all. My resume is longer than one page and use the classic style.

`%\nopagenumbers{}                                  % uncomment to suppress automatic page numbering for CVs longer than one page`

[2018-07-22 21:18] tomaskul commented on #1
Is anyone still looking into this? And if it has actually been fixed, how do I pull the update?

EDIT: Bug still appears in 2015-08-04 package

[2018-08-07 17:55] mcala commented on #69
I think the reason that \makelettertitle doesn't have the social links is because it wouldn't be "traditional" to put them in a letter. But on a CV/Resume it makes more sense. You can redefine the header in the letter to be the same as the CV in the moderncvheadi.sty file to get what you want though. Let me know if you don't know what I'm talking about and I can walk you through it.

[2018-08-07 20:44] robertmain commented on #69
Fair enough, that makes sense. I'm not entirely sure how to do what you're suggesting, so if you could walk me through it - that would be greatly appreciated!

[2018-08-16 07:09] rusins commented on #69
I had to do this myself a few days back, remove the .txt at the end and replace the existing file with it.
[moderncvheadi.sty.txt](https://github.com/xdanaux/moderncv/files/2292707/moderncvheadi.sty.txt)

This change allows socials to appear in the cover letter, but it comes with the drawback that if you are putting both your cover letter and CV into the same document, it will duplicate entries. R

[2018-08-17 13:47] moewew opened #73 "Drop \IfFileExists"
While `\IfFileExists` can be helpful to avoid error messages due to non-existent files (think self-made auxiliary files), it can have serious drawbacks when used for package loading. As currently used, packages will be skipped over if they are not found. This means that two documents with the same code can have significantly different output on different installations. Granted, there is always a c

[2018-08-22 15:58] dkp-1024 commented on #15
Put this snippet of code at the starting of your document.

[code]

You can adjust the height of bullets by playing around with the number followed by  `\raisebox`.

[2018-08-29 12:07] respatte opened #74 "Adding a custom social media item with logo"
Hi,

Not really an issue, but I was wondering if it would be possible to create a custom `\social` item where the user can provide his own logo for a social media. I'm guessing it would be possible to tweak the source files to create one, but I'm not big on using TeX like that...

The reason I'm asking that is that I would like to give my ORCID ID with their nice little logo.

If creating a custom

[2018-09-23 16:52] jonorthwash commented on #6
It looks like some of these commits closed this issue?  Also, is use of the new commands documented anywhere?  I'm having trouble figuring out how to use them....

[2018-10-12 09:49] ukos-git commented on #56
considering minor PR like https://github.com/xdanaux/moderncv/pull/33 not being merged, I guess it can be considered stale.

the two most promising forks right now are probably

* @ig0774 https://github.com/ig0774/moderncv
* @mcala https://github.com/mcala/moderncv

@xdanaux could you give write access to those two people?

[2018-10-27 15:46] fontealpina commented on #56
Any news about the next release?

[2018-10-29 13:39] ukos-git commented on #56
I think this project is far away from going on a release schedule with milestones :-1:

[2018-10-31 19:02] mcala commented on #74
If you still want to give this a go yourself, it's not too bad. However, ORCID's logo isn't included in [FontAwesome](https://fontawesome.com/icons?d=gallery&q=ORCID), which is how the other icons are typeset. So the *more difficult* part is figuring out how to get the icon to show up in a nice way. I'd probably just stick with writing out ORC ID. If you want to still give it a shot:

First you'll

[2018-11-18 03:47] diehlpk opened #75 "Still updated?"
I was just wondering if the moderncv style is still maintained?

[2019-01-02 21:43] vitaminace33 commented on #7
Still there. The commit never made to final release nor CTAN.

[2019-01-02 22:28] FranklinYu commented on #7
@vitaminace33 Development has stalled for more than 2 years; I have switched to alternatives.

[2019-01-02 22:29] raasoft commented on #7
@FranklinYu which alternatives?

[2019-01-02 23:21] FranklinYu commented on #7
@raasoft https://github.com/darwiin/yaac-another-awesome-cv which isn't on CTAN (yet).

[2019-01-03 05:12] MikeDawg commented on #7
Someone interested ought to fork the project.

[2019-01-08 04:32] blalterman opened #76 "implement floating environment figure"
Writing academic CVs, it can be useful to caption figures and cross reference them. Is it possible to implement a floating environment figure to enable this as we have with most journal articles?

See [https://tex.stackexchange.com/a/136521/89981](https://tex.stackexchange.com/a/136521/89981)

[2019-01-19 21:39] davidefiocco commented on #75
See https://github.com/xdanaux/moderncv/issues/56

[2019-01-19 22:36] #75 closed, assigned to nobody

[2019-02-08 23:42] miicha commented on #54
also check out #77

[2019-02-21 23:16] whnr opened #79 "Package l3regex.sty does not exist enymore"
The package `l3regex.sty` does not exist anymore.
Texlive version in Archlinux: `2018.50036-1` or `TeX 3.14159265 (TeX Live 2018/Arch Linux) kpathsea version 6.3.0`

Quick fix, to get my CV to compile: Comment out the following line:
https://github.com/xdanaux/moderncv/blob/2033517d3f29f9c16af1b3421d52f281e94aa2a5/moderncv.cls#L194

Apparently it was integrated into some higher package.

[2019-03-04 06:33] michaelaye commented on #50
Does anybody have a workaround?

[2019-04-09 19:37] dallouche opened #81 "head tuning"
Hi Xavier, i would like to tune the header of the causal style in order to put the web style and de email contact under the picture.
are you be good enough to tell me which file should i modify ?

cheers david

[2019-04-23 15:50] ilippert opened #82 "section followed by pagebreak"
I often experience that moderncv allows for a pagebreak between a \section or \subsection command and something like \tlcventry. It would be great if the package could automatically increase the penalty for this kind of behaviour.

[2019-06-26 19:59] jpinzon408 opened #83 "moderncv with fontawesome5"
Is it possible to use the fontawesome5 package instead of fontawesome? And how can the change be made?

[2019-09-05 13:50] inpowell commented on #82
Seconded.

I reproduced a minimal example based on the template.tex example by inflating the first \cventry under vocational experience with many lines -- see attached archive complete with code and output.
[overflow.tar.gz](https://github.com/xdanaux/moderncv/files/3579581/overflow.tar.gz)

Perhaps a temporary workaround is to manually break the page before the section header. A more ideal soluti

[2019-09-05 14:10] inpowell commented on #82
An even better hack: one can simulate a line break (which allows for a page break) in \cventry by ending it early, and following it with a \cvitem with empty first argument. Note that if an environment like itemize is used, then it will need to be manually ended and restarted.

If using a massive list, then careful placing of the break is needed. If using paragraphs, then \cvitems can be placed qu

[2019-09-05 18:48] ilippert commented on #82
I am using manual breaks. Interestingly, using \pagebreak[1-3] basically never gets me a break, and [4] always does.

[2019-09-09 15:56] JanBrunner commented on #70
I also had missing page numbers in classic style and found out that it was caused by the marvosym icons. I changed the corresponding line in moderncvstyleclassic.sty to `\moderncvicons{awesome}` to use the awesome icon set and now it works. No idea why.

[2019-09-15 10:54] FlyingPhilipp commented on #79
I still do have the same issue. Commenting out "RequirePackage{l3regex} does not solve the issue. Neither does replacing the line with "RequirePackage{expl3}.

[2019-10-19 11:13] garro95 opened #84 "Make column smaller"
How can I customize the size of the left column of the template?
In particular I would like to make it smaller

[2019-11-05 13:23] tiramiseb commented on #84
You can use:
[code]

[2019-11-11 19:36] xiuliren opened #86 "[FEAT] google scholar link?"
thanks for this great template!
I find github, twitter, and linkedin, but no google scholar.
is there any option to show google scholar page?
it would be nice to have this option?

[code]

[2019-12-03 10:06] pinpox commented on #79
Still getting this error, any news?

[2019-12-04 11:03] emiroge commented on #79
It works fine for me after commenting out "RequirePackage{l3regex}. It might be related to the update I've done this morning.

[2020-01-04 19:30] ilippert commented on #82
I just found https://texfaq.org/FAQ-nopagebrk and can sort out my needs well with the package [needspace](https://ctan.org/pkg/needspace).
Just insert
`   \needspace{4\baselineskip}`
before the section

[2020-02-14 14:40] DAMO238 opened #88 "Using \small in a list in a cvline causes extra space at the bottom of the list"
The following code snippet will generate the cvline as expected, but does not account for the smaller font in the list:

[code]

[2020-02-14 14:46] DAMO238 commented on #88
Update: This gap appears regardless of the \small

[2020-02-14 14:50] DAMO238 commented on #88
Update: The gap size is exactly one line's worth, as putting in some text after the list but in the cvline does not shift anything around.

[2020-02-23 14:19] stephanlachnit commented on #56
@xdanaux can you give write access to @mcala, @ig0774 or someone else who wants to maintain this? Since there hasn't been any commit here for over 3 years, I think it would be fair to let other users step up.

[2020-02-25 08:48] FranklinYu commented on #56
@mcala Would you be interested in uploading to CTAN? I don’t think we can take [the package](https://ctan.org/pkg/moderncv) without permission from @xdanaux but maybe we can use an alternative package name like `moderncv2`.

[2020-02-25 13:48] jscott0 commented on #56
@FranklinYu @mcala Because the author has been unresponsive, it [is probably possible to upload it as moderncv](https://ctan.org/help/become-author). Consulting with CTAN administrators would be the proper approach

[2020-02-25 14:18] stephanlachnit commented on #56
If there is no answer from @xdanux that would be a good solution, moderncv on CTAN has still some bugs after all.
Are you interessed to contanct CTAN @mcala?

[2020-02-25 19:10] FranklinYu commented on #56
Oh that's nice! Wasn't aware of that.

[2020-05-11 22:16] alanlivio opened #89 "Publications using multibib is not compatible with natbib"
When use both `natbib` and `multibib`, the \bibliography not appear as subsection.
More precisely, the following code from  `moderncv.cls` not work when using natbib.
[code]

[2020-05-12 00:05] alanlivio commented on #89
I found this workaround:
[code]

[2020-06-08 19:34] alanlivio opened #91 "table of contents"
How add a table of contents at the beginning of a moderncv document?
The \tableofcontents command is not recognized by the class.

[2020-06-23 18:30] stephanlachnit commented on #56
Just for reference, I'm trying to get a new release to CTAN sometime this year. The github repo is here: https://github.com/moderncv/moderncv

[2020-07-06 23:18] 1aaronscott commented on #79
In the moderncv.cls file:
change (close to line 193):
`\RequirePackage{l3regex}`

to:
[code]

[2020-07-20 21:23] muodov commented on #8
@nicolasbock have you found a solution to this?

[2020-08-09 11:37] awehrfritz commented on #56
Thanks @stephanlachnit ! Much appreciated!

[2020-08-13 12:23] mefuller commented on #68
I do not have this problem.
I list all my publications using biblatex and break them out by type.

In the preamble:
[code]
At the end of my CV:
[code]

[2020-08-24 17:07] alanlivio opened #92 "Add google scholar icon"
Similar as twitter or github icon/link, should be interest modercv support a Google Scholar icon/link.
As example:
[code]
In such examples, it produces following icon and link:
![](https://icon2.cleanpng.com/20180413/jie/kisspng-computer-science-google-scholar-doctor-of-philosop-google-5ad094511a4771.2300740815236188971077.jpg)
http://scholar.google.com.br/citations?user=1bEOmkUAAAAJ

[2020-08-24 17:14] alanlivio commented on #91
I resolve the issue using the following code from internet[1].

[code]

[1] https://tex.stackexchange.com/questions/320193/class-moderncv-renewcommand-makecvtitle-results-in-undefined-control-sequence-e

[2020-09-22 15:20] WPettersson commented on #50
Try loading the makecell package (`\usepackage{makecell}` in the preamble), then inside the braces you want to have a newline, change `{this is a very very very very long line}` to `{\makecell[tl]{this is a very very very \\ very long line}}`. The `[tl]` means justify to top and left, you can use `t`op, `c`entre, `b`ottom, `l`eft, or `r`ight for these (vertical justification comes first).

[2020-10-28 00:29] oblitum commented on #9
I'm also missing this. I'm using it to enter custom social links, but can't enter multiple ones easily.

[2020-11-19 13:48] lazzalazza opened #94 "Issue with polyglossia"
Using polyglossia & xelatex with the moderncv class leads to unexpected output.
I'm using TeX Live under MacOs Catilina 10.15.4.

Is there a way to solve this?

[code]
[mwe.pdf](https://github.com/xdanaux/moderncv/files/5567096/mwe.pdf)

[2021-01-23 18:27] stephanlachnit commented on #56
v2.1.0 from https://github.com/moderncv/moderncv is now on CTAN: https://www.ctan.org/pkg/moderncv

[2021-01-28 11:54] cryptointerest commented on #94
This seems to be due to  polyglossia needing to be loaded before hyperref. There is no straight forward solution to this because it requires writing a parsable option for the document class, e.g. something like
[code]
which would then setup polyglossial _before_ hyperref. Alternatively, write setter functions that allow to set the default language before hyperref is loaded. I have no idea how to a

[2021-02-10 10:09] 5moufl commented on #92
duplicate of https://github.com/xdanaux/moderncv/issues/86

[2021-02-10 13:21] alanlivio commented on #86
It is nice feature request.

[2021-02-12 11:21] phuidn opened #98 "moderncvheadiii.sty compilation error"
Runnig `pdflatex template.tex` with `\moderncvstyle{classic}` changed to `\moderncvstyle{banking}`, I get an error:
[code]
As far as I can tell this is caused by commit `a4a2062ac9e5a661a629ff05de2822500f1b69f1` (when I revert that commit's change to that file, it compiles), but I'm not sure why. My latex is a little rusty to say the least.

[2021-02-12 17:16] phuidn commented on #98
A little more digging: the change that caused the error seems to be a newline added on line 86 of `moderncvheadiii.sty` in commit `a4a2062a`

[2021-02-22 11:09] RGBYCP opened #99 "Odd spacing in moderncv \title when title contains 2 lines"
Hi, could you help me, please? Why is the line spacing in \title so odd when \title contains two lines, please? How can this be fixed?
Example:

\usepackage{moderncvcompatibility}
\usepackage{moderncvstyleclassic}
\usepackage[left=1.5cm, right=1.5cm, top=1cm, bottom=1cm]{geometry}
\firstname{Thea}
\familyname{Flowerpower}
\title{Pharmacist\protect\\[0.2\baselineskip]
Organic Chemistry, Pharmacy, R

[2021-04-07 13:29] gooney47 commented on #79
The trailing ` ``` `  in the above comment are not necessary, they even broke my compilation.

[2021-04-07 13:31] pinpox commented on #79
I'm pretty sure that's a markdown typo here in the comment.

[2021-06-28 19:03] alanlivio opened #100 "Icon problems when using texlive windows distribution"
I installed the texlive windows distribution then moderncv and its dependencies.
However, I have problems if some icons, which are replace by letter. Please see image bellow.

![image](https://user-images.githubusercontent.com/604808/123689878-a6f2aa00-d84b-11eb-9b95-bcba0e85dab5.png)

I receive the following log:
`Some font shapes were not available, defaults substituted.`

[2021-07-26 12:49] alexwongdl opened #101 "cannot open TrueType font file for reading: simyou.ttf"
Thank you for your excellent work.
Now I met a problem: In moderncv.cls, sectionfont is default, but I get the following error
![image](https://user-images.githubusercontent.com/8745241/126993711-8b6d1c28-21c3-49af-b329-e25cbf128dc8.png)

[2021-08-16 20:38] #47 closed, assigned to nobody

[2021-08-16 20:38] #46 closed, assigned to nobody

[2021-09-20 19:04] khatchad commented on #74
I see the icon now in https://fontawesome.com/icons?d=gallery&q=ORCID. However, when I use `\social[orcid]`, the symbol is still missing.

[2021-09-20 21:35] mcala commented on #74
Correct, you still need to go through the rest of my comment to insert a new command for the ORCID symbol. Now that there is a FontAwesome icon, you'd want the last renew command to be: `\renewcommand*{\orcidsocialsymbol} {\small \faorcid}`

[2021-09-20 22:23] khatchad commented on #74
Ah, OK. I currently see this in `moderncviconsawesome.sty`:
[code]

[2021-09-22 18:31] gerardbosch commented on #70
Hi there, I've been using the template for a lot of years and used to see the page numbers in the past. But I've also realized that in the new builds of my CV, the page numbers do not show up (so I lost them at some point and can't find the reason).

This may help to add the page number "back": https://tex.stackexchange.com/a/210773/154993
but hopefully it could be directly addressed in the modern

[2021-10-28 17:05] AndreaMangla commented on #6
If you leave the link without 'https:// ' it works

[2021-10-29 05:41] Safari77 commented on #6
Then it makes a http link, which is not cool 😎
The patch from modulo11 fixes the issue.

[2021-12-12 15:04] #42 closed, assigned to nobody

[2022-01-08 14:12] alanlivio commented on #91
closed in favor https://github.com/moderncv/moderncv/issues/93

[2022-01-08 14:12] #91 closed, assigned to nobody

[2022-01-08 14:13] alanlivio opened #103 "Publications using multibib is not compatible with natbib"
When using both `natbib` and `multibib`, the \bibliography does not appear as a subsection.
More precisely, the following code from  `moderncv.cls` not work when using natbib.
[code]

I found this workaround:
[code]

[2022-01-08 14:13] alanlivio commented on #89
closed in favor of https://github.com/xdanaux/moderncv/issues/103

[2022-01-08 14:13] #89 closed, assigned to nobody

[2022-01-08 14:15] #103 closed, assigned to nobody

[2022-01-08 14:15] alanlivio commented on #103
closed in favor of https://github.com/moderncv/moderncv/issues/94

[2022-01-08 14:16] alanlivio commented on #89
closed on favour of https://github.com/moderncv/moderncv/issues/94

[2022-01-08 14:22] alanlivio commented on #92
closed on favor https://github.com/moderncv/moderncv/issues/95

[2022-01-08 14:22] #92 closed, assigned to nobody

[2022-01-08 14:23] #100 closed, assigned to nobody

[2022-01-12 12:31] alanlivio commented on #86
@jingpengw, It was answer in https://github.com/moderncv/moderncv/issues/95

[2022-01-12 13:39] xiuliren commented on #86
thank you! this version is still not updated in OverLeaf. I'll just wait for it. I have found a customized way to show it.

[2022-01-12 13:39] #86 closed, assigned to nobody

[2022-03-06 18:30] Coy-Allen opened #104 "Add Discord to \social"
Would it be possible to add the discord icon to \social?

[2022-03-06 18:32] Coy-Allen commented on #104
oops wrong repo.

[2022-03-06 18:32] #104 closed, assigned to nobody

[2022-05-02 19:36] JokerGermany opened #105 "social matrix issue error"
My cv runs without a error.
When i add
`\social[matrix]{test}`
I get these error

[code]

\makecvtitle is marked

[2022-08-17 08:38] giuliospinozzi opened #106 "Not compile with latest version of texlive 2022"
I compiled my cv (same code) with texlive 2021 and the first version of 2022 without problem. From a month some problems (same version of moderncv, but probably different for some other required package, latest texlive, updated, macOS):
![Screen Shot 2022-08-17 at 10 37 49](https://user-images.githubusercontent.com/9041243/185074191-1508b2e0-0071-49cc-8939-eb9306d7715a.png)

[2022-11-17 08:46] cscheeder commented on #50
Workaround works. Is there a way to have automatic linebreaks within the comment?